.about-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ECF0F3;
}

@media (max-width: 1024px) {
    .about-section {
        padding: 30rem 0;
    }
}

@media (max-width: 991px) {
    .about-section {
        padding: 51rem 0;
    }
}

@media (max-width: 768px) {
    .about-section {
        padding: 50rem 0;
    }
}

.about-section .img-fluid {
    border: 5px solid #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #B0B6C0;
    cursor: pointer;
    transition: all .9s ease-in-out;
}

/* .about-section .img-fluid:hover{
    transform: scale(1.1, 1.1);
} */

.about-section .head {
    font-size: 20px;
    text-transform: uppercase;
    color: #6A994E;
    letter-spacing: 1px;
}

.about-section .title {
    font-size: 32px;
    /* padding: 16px 0; */
    margin: 16px 0;
    font-weight: 700;
    letter-spacing: 1px;
}

.about-section .parah {
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 500;
}