.btn-main {
  padding: 9px 20px;
  color: #6A994E !important;
  background-color: transparent !important;
  border: 2px solid #6A994E !important;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgb(21 230 76 / 26%);
  font-family: 'Poppins', sans-serif;
  transition: .3s;
}

.btn-main:hover {
  background-color: #6A994E !important;
  color: #ECF0F3 !important;
  border: 2px solid #6A994E !important;
  box-shadow: 5px 5px 10px rgb(21 230 76 / 26%) !important;
}

header .navbar {
  position: absolute;
  width: 100%;
  background: transparent;
  z-index: 1000;
}

header .navbar.sticky {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #ECF0F3;
  -webkit-transition: all 10ms ease-in-out;
  -moz-transition: all 10ms ease-in-out;
  -o-transition: all 10ms ease-in-out;
  -ms-transition: all 10ms ease-in-out;
  transition: all 10ms ease-in-out;
  animation-name: stickyTransition;
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  -webkit-box-shadow: 5px 5px 10px #B0B6C0;
  -moz-box-shadow: 5px 5px 10px #B0B6C0;
  box-shadow: 5px 5px 10px #B0B6C0;
}

@keyframes stickyTransition {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(1, -100% 0);
    transform: translate3d(1, -100% 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

header .nav-link {
  display: inline-flex;
  justify-content: center;
  padding: 0 1rem !important;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: all 10ms ease-in-out;
  -ms-transition: all 10ms ease-in-out;
  -o-transition: all 10ms ease-in-out;
  -moz-transition: all 10ms ease-in-out;
  transition: all 10ms ease-in-out;
}

header .nav-link.active{
  color: #6A994E !important;
}

header .nav-link:hover {
  color: #6A994E !important;
  transition:  .3s;
}


/* header .navbar-toggler:focus{
  outline: none !important;
  border: none !important;
  text-decoration: none !important;
} */

@media (max-width: 992px) {
  header .navbar {
    background-color: #ECF0F3;
    /* box-shadow: 5px 5px 10px #B0B6C0; */
  }

  header .navbar-toggler {
    border: none;
  }

  header .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }

  header .navbar-toggler-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  header .nav-link {
    /* background-color: #ECF0F3; */
    padding: 1rem !important;
  }
}