.home-section {
    -webkit-animation: fade-in 1s both;
    -moz-animation: fade-in 1s both;
    -o-animation: fade-in 1s both;
    animation: fade-in 1s both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@-moz-keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@-o-keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.home-section a .linkedin {
    color: #0270ad;
}

.home-section a .github {
    color: #000;
}

.home-section a .mail {
    color: #f0ba01;
}

.home-section a .actor {
    color: #6A994E;
}