.project-section {
    /* height: 120vh; */
    padding-top: 100px;
    background-color: #ECF0F3;
    align-items: center;
    justify-content: center;
    display: flex;
}

@media (max-width: 425px) {
    .project-section {
        height: 120vh;
        /* padding-top: 100px; */
        background-color: #ECF0F3;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}

@media (max-width: 425px) {
    .project-section {
        padding-top: 30rem;
    }
}

@media (max-width: 320px) {
    .project-section {
        padding-top: 20rem;
    }
}

.project-section .row .head {
    font-size: 20px;
    text-transform: uppercase;
    color: #6A994E;
    letter-spacing: 1px;
}

.project-section .row .title {
    font-size: 32px;
    /* padding: 16px 0; */
    margin: 16px 0;
    font-weight: 700;
    letter-spacing: 1px;
}



.project-section .img-fluid {
    border: 10px solid #fff;
    box-shadow: 5px 10px 10px #B0B6C0;
    border-radius: 10px;
    display: block;
    margin: auto;
    position: relative;
}

.project-section .row .overlay {
    position: relative;
}

.project-section .row .overlay .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(106, 153, 78, .7);
    color: #ECF0F3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.project-section .row .overlay .layer>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.project-section .row .overlay .layer:hover {
    opacity: 1;
}

.project-section .row .overlay .layer:hover>* {
    transform: translateY(0);
}

.layer h3 {
    font-weight: 500;
    font-size: 24px;
}

@media (max-width: 425px) {
    .layer h3 {
        font-weight: 500;
        font-size: 18px;
    }
}

.layer h5 {
    font-weight: 500;
    font-size: 18px;
}

@media (max-width: 425px) {
    .layer h5 {
        font-weight: 400;
        font-size: 14px;
    }
}

.project-section .row .overlay .layer .btn {
    color: #6A994E !important;
    background-color: #ECF0F3 !important;
    border: 2px solid #fff !important;
    border-radius: 5px;
    box-shadow: none;
    padding: 9px 30px;
    font-family: 'Poppins', sans-serif;
    margin: 0 5px;
}

.project-section .row .overlay .layer .btn:hover {
    box-shadow: none !important;
}