/* .fluid {
    background-color: #ECF0F3;
}

.campus {
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 50px;
    height: 100vh;
    align-items: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.campus h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: #;
    letter-spacing: 1px;
}

.campus h1 {
    font-size: 32px;
    padding: 16px 0;
    font-weight: 700;
    letter-spacing: 1px;
}

.campus .row {
    margin-top: 35px;
}

@media (max-width: 768px) {
    .campus {
        padding: 35rem 0;
    }

    .campus .row {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .campus {
        padding-top: 45rem;
    }
}

@media (max-width: 653px) {
    .campus .row {
        flex-wrap: wrap;
    }
}

@media (max-width: 623px) {
    .campus .row {
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.campus-col {
    flex-basis: 45%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 100%;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(106, 153, 78, .8);
    ;
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #ECF0F3;
    font-size: 20px;
    bottom: 0;
    text-align: center;
    position: absolute;
    transition: 0.5s;
    text-transform: none;
}

.layer h3 h5 {
    width: 100%;
    font-weight: 500;
    color: #ECF0F3;
    font-size: 20px;
    bottom: -2.5rem;
    text-align: center;
    position: absolute;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 40%;
    opacity: 1;
}

.layer:hover h5 {
    bottom: 9.5rem;
    opacity: 1;
}

.layer .btn {
    width: 100%;
    color: #;
    bottom: -3.5rem;
    text-align: center;
    position: absolute;
    transition: 0.5s;
    text-transform: none;
    padding: 9px 15px;
    background-color: #ECF0F3 !important;
    border: 2px solid # !important;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: .3s;
}

.layer:hover .btn {
    bottom: 15%;
    opacity: 1;
} */

.project-section {
    height: 100vh;
    background-color: #ECF0F3;
    align-items: center;
    justify-content: center;
    display: flex;
}

@media (max-width: 991px) {
    .project-section {
        padding-top: 60rem;
    }
}

@media (max-width: 425px) {
    .project-section {
        padding-top: 45rem;
    }
}

@media (max-width: 320px) {
    .project-section {
        padding-top: 30rem;
    }
}

.project-section .row .head {
    font-size: 20px;
    text-transform: uppercase;
    color: #6A994E;
    letter-spacing: 1px;
}

.project-section .row .title {
    font-size: 32px;
    /* padding: 16px 0; */
    margin: 16px 0;
    font-weight: 700;
    letter-spacing: 1px;
}



.project-section .img-fluid {
    border: 10px solid #fff;
    box-shadow: 5px 5px 10px #B0B6C0;
    border-radius: 10px;
    display: block;
    margin: auto;
    position: relative;
}

.project-section .row .overlay {
    position: relative;
}

.project-section .row .overlay .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(106, 153, 78, .7);
    color: #ECF0F3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.project-section .row .overlay .layer>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.project-section .row .overlay .layer:hover {
    opacity: 1;
}

.project-section .row .overlay .layer:hover>* {
    transform: translateY(0);
}

.layer h3 {
    font-weight: 500;
    font-size: 24px;
}

@media (max-width: 425px) {
    .layer h3 {
        font-weight: 500;
        font-size: 18px;
    }
}

.layer h5 {
    font-weight: 500;
    font-size: 18px;
}

@media (max-width: 425px) {
    .layer h5 {
        font-weight: 400;
        font-size: 14px;
    }
}

.project-section .row .overlay .layer .btn {
    color: #6A994E !important;
    background-color: #ECF0F3 !important;
    border: 2px solid #fff !important;
    border-radius: 5px;
    box-shadow: none;
    padding: 9px 30px;
    font-family: 'Poppins', sans-serif;
}

.project-section .row .overlay .layer .btn:hover {
    box-shadow: none !important;
}